<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit song</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add Song</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form th:action="${song != null} ? '/songs/edit/' + ${song.id} : '/songs/add'" method="POST">
                    <input id="id" type="hidden" name="id"
                           th:value="(${song} != null ? ${song.getId()} : '')">
                    <div class="form-group">
                        <label for="title">Song title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${song} != null ? ${song.getTitle()} : '')"
                               required
                               placeholder="Enter song title">
                    </div>
                    <div class="form-group">
                        <label for="trackId">Track Id</label>
                        <input type="text"
                               class="form-control"
                               id="trackId"
                               name="trackId"
                               th:value="(${song} != null ? ${song.getTrackId()} : '')"
                               placeholder="Track Id">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text"
                               class="form-control"
                               id="genre"
                               name="genre"
                               th:value="(${song} != null ? ${song.getGenre()} : '')"
                               placeholder="Genre">
                    </div>
                    <div class="form-group">
                        <label for="releaseYear">Release year</label>
                        <input type="text"
                               class="form-control"
                               id="releaseYear"
                               name="releaseYear"
                               th:value="(${song} != null ? ${song.getReleaseYear()} : '')"
                               placeholder="Release year">
                    </div>
                    <div class="form-group">
                        <label>Album</label>
                        <select name="albumId" class="form-control">
                            <option th:each="album : ${albums}"
                                    th:selected="${song != null && song.getAlbum() != null && song.getAlbum().getId() == album.getId()}"
                                    th:value="${album.getId()}"
                                    th:text="${album.getName()}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/songs">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                   Add your favorite songs and manage your collection easily.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>